/* style.css */
header {
    background-color: #ff6b6b; /* coral 60% */
    color: #171f34; /* navy 30% */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif; 
}

#logo {
    width: 100px;
    margin: 0;
}

#nav {
    margin-right: 10px; 
}

#nav a {
    text-decoration: none;
    color: #171f34; /* navy 30% */
    margin: 0 10px;
    font-family: 'Helvetica Neue', sans-serif; 
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #d61e1e;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}