/* style.css */
header {
    background-color: #ff6b6b; /* coral 60% */
    color: #171f34; /* navy 30% */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif; 
}

#logo {
    width: 100px;
    margin: 0;
}

#nav {
    margin-right: 10px; 
}

#nav a {
    text-decoration: none;
    color: #171f34; /* navy 30% */
    margin: 0 10px;
    font-family: 'Helvetica Neue', sans-serif; 
}
