<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BowieBnB - About</title>
    <link rel="stylesheet" type="text/css" href="/static/style-about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/assets/logos/bowie_logo_light.gif" alt="BowieBnB Logo">
        </div>
        <div id="nav">
            <a href="/">
                <img src="/static/assets/logos/bowie_logo_light.gif" alt="BowieBnB Logo" href="/">
            </a>
        </div>
        <div id="nav">
            <a href="/about">About</a> |
            <a href="/logout">Logout</a>
        </div>
    </header>
    <h1>About Us</h1>
    
    <div class="visionary">
        <h2>Meet the Visionaries:</h2>
        <ul>
            <li>George, the Free Spirit</li>
            <li>Iain, the Design Guru</li>
            <li>Mustafa, the Techno-Whiz</li>
            <li>Adrian, the Heart and Soul</li>
        </ul>
    </div>
    
    <h2>What Makes BowieBnB Unique:</h2>
    <p>
        BowieBnB distinguishes itself through a unique blend of innovation, style, and heartfelt hospitality. What sets BowieBnB apart is its commitment to creating memorable journeys rather than just providing accommodations. We redefine the way travelers experience the world by offering a handpicked selection of enchanting stays that are a world away from cookie-cutter hotels.
    </p>
    <p>
        Our eclectic quartet of visionaries: George, Iain, Mustafa, and Adrian - each brings a distinctive touch to the BowieBnB experience. George, the Maverick Voyager, curates off-the-beaten-path destinations that speak to your adventurous side. Iain, the Aesthetic Alchemist, designs spaces that are not just beautiful but transformative, evoking emotions and comfort. Mustafa, the Digital Dynamo, ensures seamless, tech-enhanced bookings, while Adrian, the Soulful Host, infuses each space with warm, human touches.
    </p>
    <p>
        At BowieBnB, it's not just about where you stay; it's about how you feel when you stay. We believe that travel should be an adventure, and our collection of unique accommodations is your gateway to discovering the extraordinary, embracing the world, and feeling at home anywhere you go. It's not just a place to sleep; it's a world of wanderlust and wonder, where every stay becomes a cherished memory.
    </p></body>
</html>