<!DOCTYPE html>
<html>
<head>
    <title>BowieBnB - About</title>
    <link rel="stylesheet" type="text/css" href="/static/style-spaces.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="/static/script-spaces.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/">
                <img src="/static/assets/logos/bowie_logo_light.gif" alt="BowieBnB Logo" href="/">
            </a>
        </div>
        <div id="nav">
            <a href="/about">About</a> |
            <a href="/logout">Logout</a>
        </div>
    </header>

</body>