<!DOCTYPE html>
<html>
<head>
    <title>BowieBnB - List of accommodations</title>
    <link rel="stylesheet" type="text/css" href="/static/style-accomm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/myscript.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/">
                <img src="/static/assets/logos/bowie_logo_light.gif" alt="BowieBnB Logo" href="/">
            </a>
        </div>
        <div id="nav">
            <a href="/create_listing">Create A Listing</a> | 
            <a href="/about">About</a> |
            <a href="/login">Login</a>
        </div>
    </header>

    <div class="container">
        <form class="search-form">
            <label for="start_date" class="block mb-2 text-sm font-medium text-coral dark:-coral">Start Date</label>
            <input name="start_date" id="start_date" type="text" placeholder="    Input Date">
            <label for name="end_date" class="block mb-2 text-sm font-medium text-coral dark:text-white">End Date</label>
            <input name="end_date" id="end_date" type="text" placeholder="    Input Date">
            <button type="submit" style="background-color: coral; color: white; border: none; border-radius: 5px; padding: 10px 20px; transition: background-color 0.3s; display: flex; justify-content: center; align-items: center;">Search</button>
        </form>

        <div class="grid-results">
            {% for accommodation in accommodations %}
            <div class="gallery">
                <a target="_blank" href="/accommodations/{{ accommodation.place_name }}">
                    <img src="/static/assets/accomodation_images/{{ accommodation.img_path }}" alt="" width="600" height="400">
                </a>
                <div class="flex center"> {{ accommodation.place_name }}</div>
                <div class="desc">{{ accommodation.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>