<!DOCTYPE html>
<html>
<head>
    <title>BowieBnB</title>
    <link rel="stylesheet" type="text/css" href="/static/style-spaces.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="/static/script-spaces.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/assets/logos/bowie_logo_light.gif" alt="BowieBnB Logo">
        </div>
        <div id="nav">
            <a href="#">About</a> |
            <a href="#">Login</a>
        </div>
    </header>
    <div class="gallery">
        <a target="_blank" href="img_1.jpg">
            <img src="/static/assets/accomodation_images/img_1.jpg" alt="Image 1" width="600" height="400">
        </a>
        <div class="desc">Description for Image 1</div>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="img_2.jpg">
            <img src="/static/assets/accomodation_images/img_2.jpg" alt="Image 2" width="600" height="400">
        </a>
        <div class="desc">Description for Image 2</div>
    </div>
    
    <div class="gallery">
        <a target="_blank" href="img_3.jpg">
            <img src="/static/assets/accomodation_images/img_3.jpg" alt="Image 3" width="600" height="400">
        </a>
        <div class="desc">Description for Image 3</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_4.jpg">
            <img src="/static/assets/accomodation_images/img_4.jpg" alt="Image 4" width="600" height="400">
        </a>
        <div class="desc">Description for Image 4</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_5.jpg">
            <img src="/static/assets/accomodation_images/img_5.jpg" alt="Image 5" width="600" height="400">
        </a>
        <div class="desc">Description for Image 5</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_6.jpg">
            <img src="/static/assets/accomodation_images/img_6.jpg" alt="Image 6" width="600" height="400">
        </a>
        <div class="desc">Description for Image 6</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_7.jpg">
            <img src="/static/assets/accomodation_images/img_7.jpg" alt="Image 7" width="600" height="400">
        </a>
        <div class="desc">Description for Image 7</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_8.jpg">
            <img src="/static/assets/accomodation_images/img_7.jpg" alt="Image 8" width="600" height="400">
        </a>
        <div class="desc">Description for Image 8</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_9.jpg">
            <img src="/static/assets/accomodation_images/img_9.jpg" alt="Image 0" width="600" height="400">
        </a>
        <div class="desc">Description for Image 9</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_10.jpg">
            <img src="/static/assets/accomodation_images/img_10.jpg" alt="Image 10" width="600" height="400">
        </a>
        <div class="desc">Description for Image 10</div>
    </div>

    </body>
    </html>