<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <meta id="my-data" data-list="{{dates}}">
    <form>
        DATE:
        <input type="text" id="date">
        

    <script>
        dates = ["20/10/2023", "21/10/2023", "22/10/2023", "23/01/2023"]
function DisableDates(date) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
    return [dates.indexOf(string) == -1];
}

$(function() {
    $("#date").datepicker({
        beforeShowDay: DisableDates
    });
});
    </script>
    </form>
    
    
</body>

    <body> Hello world</body>
    
    
</html>