<!DOCTYPE html>
<html>
    <head>
        <title>BowieBnB - Logged Out</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p>Placeholder for logged out</h1>
        <a href="/"><p style="color: coral;">Go Back Home</p></a>
    </body>
</html>
